.open-sans {
    font-family: "Open Sans", "Tahoma", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
}

.crossed {
    font-family: "Bookman", serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    text-decoration: line-through;
}

.uppercase {
    font-family: "Mate SC", "Times New Roman", serif;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
}

.spaced {
    font-family: "Georgia", serif;
    font-weight: 300;
    font-size: 15px;
    word-spacing: 30px;
    color:  rgb(65, 28, 65);
    text-decoration-style: wavy;
    text-decoration-line: overline;
    text-decoration-color: rgb(65, 28, 65);
    text-shadow: 1px 1px 2px  rgb(65, 28, 65);
}

.underline {
    font-family: "Georgia", serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 5px;
    text-decoration-line: underline;
}